################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessApp/.config
/BusinessApp/bin/Debug/net8.0
/BusinessApp/appsettings.json
